/* font-family: "Raleway", sans-serif; */
body {
    background: red;
    font-family: "Raleway", sans-serif;
}

.logo {
    width: 80%;
    
}

.kitchen-intro {
    text-align: center;
    text-transform: uppercase;
    color:
    font-weight: bold;
}

.event-house-description {

}

.topper {
    width: 50%;
    margin: auto;
}
