/* font-family: "Raleway", sans-serif; */
body {
    background: red;
    font-family: "Raleway", sans-serif;
}


.topper .logo {
    width: 80%;
    margin: 0 auto 50px auto;
    display: block;
}

.topper .kitchen-intro {
    text-align: center;
    text-transform: uppercase;
    color: #807a79;
    font-weight: bold;
}

.topper .event-house-description {
    color:#93b5af;
    text-align: center;
}

.topper {
    width: 50%;
    margin: auto;
}

.topper h2 {
    color: #93b5af;
    text-alight: center;
    boarder-top: 2px dotted #807a79;
}
