.flex-container {
    display: flex;
    min-height: 300px;
    width: 100px;
}

.light-pink {
    background-color: #F5C6D6;
    height:60px;
    width: 100px;
}

.dark-pink {
    background-color: #EE2E84;
    flex-grow: 1;
    height: 60px;
    width: 25px;
    justify-content: space-between;
}

.blue {
    background-color: #85CFD8;
    flex-grow: 2;
    height: 60px;
    width: 50px;
    justify-content: space-between;
}


.green {
    background-color: #8DC63F;
    height: 60px;
    width: 75px;
    justify-content: space-between;
}

.orange {
    background-color: #E76E34;
    height: 60px;
    width: 25px;
    justify-content: space-between; 
}

/* ex. flex grow of 1 on dark-pink container */
