.flex-container {
    display: flex;
    min-height: 300px;
    width: 100px;
    flex-wrap: wrap;
}

.light-pink {
    background-color: #F5C6D6;
    width: 100%;
}

.dark-pink {
    background-color: #EE2E84;
    flex-grow: 1;
    width: 25%;
    justify-content: space-between;
}

.blue {
    background-color: #85CFD8;
    flex-grow: 2;
    width: 50%;
    justify-content: space-between;
}


.green {
    background-color: #8DC63F;
    width: 75%;
    justify-content: space-between;
    flex-grow: 3;
}

.orange {
    background-color: #E76E34;
    width: 25%;
    justify-content: space-between;
    flex-grow: 1;
}

/* ex. flex grow of 1 on dark-pink container */
