h1 {
    color: #33485e;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 600px;
    width: 100%;
}

.tagline {
    font-style: italic;
    text-align: center;
}

.dates {
    font-style: italic;
}

.education {
    font-style: italic;
}

.heading {
    background-color: #33485e
    color: white;
}

.graphicsreporter {
    background-color: #33485e
    color: white;
}
